div.alert-info {
    display: none;
}
h1.company-name {
    font-size: 4rem;
    margin: 0 0 2rem 0;
}
ul.nav-elements {
    list-style-type: none;
    flex-direction: row;
    justify-content: end;
    gap: 2rem;
    margin: 2rem 0 0 0;
}
img {
    max-width: 100%;
    aspect-ratio: 2/1;
    margin: 2rem 0 2rem 0;
}
h2 {
    margin: 1rem 0 1rem 0;
}
section.main-section {
    align-self: start;
    max-width: 60%;
    padding: 0 2rem 0 0;
}
section.sub-section {
    align-self: end;
    max-width: 40%;
}
footer.row {
    margin: 10rem 0 10rem 0;
}
