:root {
    --main-color: rgb(175, 204, 151);
    --second-color: #e5bbdd;
    --third-color: #d09330;
    --fourth-color: #8cc4b0;
}

.logo {
    width: 8vh;
    height: 8vh;
}
.nav-container {
    margin: unset;
    background-color: var(--main-color);
}
.five-day-card {
    border: 5px dotted green;
}
ul.five-day-weather-items li {
    list-style-image: url("../img/lil-plant-bullet-point.png");
}